.nav{
    height: 100%;    
    background-color: #2b2e33;
    color: aliceblue;
    padding: 0;
    padding-top: 1%;
}
.nav-ul li{
    width: 100%;
    line-height: 60px;
    font-size: 16px;
    color: #b5b5b5;
    margin: 0;
    position: relative;
    transition: 0.4s;
}
.nav-ul-2 li{
    height: 0px;    
    overflow: hidden;
    background-color: #17191b;
}
.nav-ul-2{
}
ul .nav-ul-2-dian li{
    height: 60px;
}
.nav-ul li i:nth-of-type(1){
    margin-right: 18px;
    margin-left: 10%;
}
.nav-ul li a{
    width: 100%;
    display: inline-block;
}
.nav-ul li a i:nth-of-type(1){
    margin-right: 18px;
    margin-left: 10%;
}
.nav-ul li i:nth-of-type(2){
    margin-right: 15px;
    position: absolute;
    top:18px;
    right: 5%;
}
